.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/sitemap.xml
/.idea
/.gitattributes
/app/config_sandbox
/app/etc/config.php
/app/etc/env.php
/app/code/Magento/TestModule*

/errors

/lib/internal/flex/uploader/.actionScriptProperties
/lib/internal/flex/uploader/.flexProperties
/lib/internal/flex/uploader/.project
/lib/internal/flex/uploader/.settings
/lib/internal/flex/varien/.actionScriptProperties
/lib/internal/flex/varien/.flexLibProperties
/lib/internal/flex/varien/.project
/lib/internal/flex/varien/.settings
/node_modules

/opt

/.grunt

/pub
/pub/media/*.*
/pub/media
/pub/media/mageplaza/*
!/pub/media/.htaccess
/pub/media/catalog/*
!/pub/media/catalog/.htaccess
/pub/media/customer/*
!/pub/media/customer/.htaccess
/pub/media/downloadable/*
!/pub/media/downloadable/.htaccess
/pub/media/import/*
!/pub/media/import/.htaccess
/pub/media/theme/*
/pub/media/theme_customization/*
!/pub/media/theme_customization/.htaccess
/pub/media/wysiwyg/*
!/pub/media/wysiwyg/.htaccess
/pub/media/tmp/*
!/pub/media/tmp/.htaccess
/pub/media/captcha/*
/pub/static/*
!/pub/static/.htaccess
pub/media/sliders_hotspot_images/

/var/*
!/var/.htaccess
vendor
/vendor/*
!/vendor/.htaccess
/.idea/
/generated/code
/generated/metadata
test.php
generated/
/.htaccess
/.user.ini
/.php_cs.dist
/.travis.yml
/auth.json.sample
/.htaccess.sample
/pub/media/sliders/
/docker/logs/nginx/access.log
/docker/logs/nginx/error.log
/pub/media/ingredients/
/docker/data/shaman.sql
/pub/media
/static
.php_cs.cache
